body{margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: azure}
#navbar{display:flex;
background-color: azure;
justify-content:flex-end;
position: sticky;
top:0;}
.navflex{display:flex;
margin-right:40px;}
.nav-links{padding:15px 25px;}
.nav-links a{text-decoration: none;}
.nav-links:hover{background-color: aquamarine;}
#home{background-color: azure; 
text-align: center;
padding:50px;}
#gallery{text-align:center;
    background-color: white;
margin:20px;
padding:20px;}
.gallery-flex{display:flex;
    justify-content:space-between
;
flex-wrap:wrap;
width:100%;
height:auto;}
.figures{width:49%;
    height:auto;
    margin-bottom:10px;
background-color:white;}
figcaption{border:2px solid black;
padding:20px;}
img{width:100%;
height:auto;}
#contacts{display:flex;
justify-content: space-evenly;
padding:30px 20px;
background-color: aquamarine;
margin-top:-20px}
button{margin:20px;
width:150px;
height:50px;}
button a{color:red;
font-size: 20px;}
a{text-decoration: none;}
.contacts-ball{border:1px solid white;
border-radius: 70%;
padding:20px;}
footer{background-color: black;
padding:20px;
color:white;}
@media only screen and (max-width:560px){
   .gallery-flex{flex-direction:column}
    .figures{
        width:100%;
    }
    
}
